body {
  background-color: rgba(10, 56, 97, 1);
  padding-top: 100px;
  padding-bottom: 100px;
}

/* menu */
.custom_menu {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.custom_menu .logo {
  color: white;
}

.main-menu {
  font-size: 24px;
}

.main-menu a {
  color: white;
}

.main-menu a:hover {
  color: rgba(10, 56, 97, 1);
  text-decoration: none;
}

.secondary-menu {
  font-size: 14px;
}

.secondary-menu a {
  color: white;
}

.secondary-menu a:hover {
  color: rgba(10, 56, 97, 1);
  text-decoration: none;
}

.header_text {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 378px;
  padding-top: 80px;
}

.first_subtitle {
  padding-bottom: 14px;
  position: relative;
}

.header_text .first_subtitle h4 {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.header_text .main_title h1 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 9px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

a.btn.btn-default.btn_csutom {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 7px 21px;
  transition: .5s;
}

a.btn.btn-default.btn_csutom:hover {
  background: white;
  color: #0b4c7f;
  transition: .5s;
}

.read_more {
  position: relative;
  width: 100%;
  padding-top: 50px;
}

section.container-fluid.custom_box {
  /* background: #09243c; */
}

.custom_box .container {
  padding: 0 !important;
}

.banner {
  position: relative;
  width: 100%;
  background: url(../images/banner_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  background-position: center;
}

.banner_overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background: rebeccapurple; */
  background-image: -moz-linear-gradient(0deg, #005ca9 0%, #00bdd3 100%);
  background-image: -webkit-linear-gradient(0deg, #005ca9 0%, #00bdd3 100%);
  background-image: -ms-linear-gradient(0deg, #005ca9 0%, #00bdd3 100%);
  opacity: .7;
}

.container_filter {
  background: white;
  padding-top: 70px;
  padding-bottom: 80px;
}

.job-details {
  background: white;
  padding: 50px 20px;
}

/* custom style */
p {
  font-size: 13px;
  letter-spacing: .18em;
  text-align: left;
}

a {
  text-decoration: none;
}

h4 {
  color: grey;
  font-size: 24px;
  font-weight: 400;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.single-content {
  width: 100%;

}

.row {
  padding: 0 20px 10px 20px;
}

.filters {
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  padding: 10px;
  font-size: 14px;
  color: #636363;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .2em;
}

li:hover {
  color: #a6a6a6;
}

li.active {
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 15px;
}

a.btn.btn-default.btn_details {
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  background-color: rgba(10, 56, 97, 1);
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 7px 21px;
  transition: .5s;
  float: right;
}

a.btn.btn-back {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(10, 56, 97, 1);
  letter-spacing: 1.5px;
  padding: 10px 0;
  text-decoration: underline;
}